@import '_style-guide';
@import '_base';

body{
    box-sizing: border-box;

    header{
        background-image: url('../img/banner.jpg');
        width: 100%;
        height: 100vh;

        .nav-bar{

            nav{
                height: 40px;
                padding: 1.5rem;
                display: flex;
                justify-content: space-between;

                .nav-logo{
                    height: 100%;
                    img{
                        height: 100%;
                    }
                }

                .nav-hamburger{
                    width: 100px;
                    display: block;
                    padding: 10px;

                    .nav-hamburger-line{
                        width: 40px;
                        height: 1px;
                        background-color: $color-primary;
                    }
                }
            }
        }
    }
}