
// color變數
$text-color:	#3C3C3C
$text-color-2:	#FFFFFF
$bcg-color: #000000
$opacity-color: rgba(0, 0 ,0, 0.5)
$opacity-color-2: rgba(0, 0 ,0, 0.8)



html
    box-sizing: border-box
    scroll-behavior: smooth


body
    margin: 0
    
    
    header
        width: 100%
        height: 120vh

        .banner
            background-image: url('../img/banner.jpg')
            
            nav
                height: 90px
                width: 100%
                background-color: $opacity-color
                
                .btn-group
                    
                    &>a
                        text-decoration: none
                        color: $text-color-2

                        &:hover
                            background-color: $opacity-color
                            border-radius: 25%
                            transform: 1s

                    

            .logobar
                width: 100%
                height: 20%
                background-color: $opacity-color
                bottom: 25%


                .logo-long
                    height: 90%
                    width: 30%
                    background-image: url('../img/logo-2.png')
    
    section
        .container
            .row
                .about-01
                    width: 100%
                    height: 500px
                    background-image: url('../img/about-us-1.jpg')

                .about-02
                    width: 100%
                    height: 500px
                    background-image: url('../img/about-us-2.jpg')

                .main-card
                    
                    .circle
                        width: 200px
                        height: 200px
                        background: $text-color-2
                        border-radius: 50%

                .program-01
                    width: 100%
                    height: 500px
                    background-image: url('../img/s3-wedding.jpg')

                .program-02
                    width: 100%
                    height: 500px
                    background-image: url('../img/s3-family.jpg')

                .program-03
                    width: 100%
                    height: 500px
                    background-image: url('../img/s3-friend.jpg')

                .program-04
                    width: 100%
                    height: 500px
                    background-image: url('../img/s3-baby.jpg')

                

        .container-fluid
            .row
                $s4-pct-height: 400px

                .s4-pct-1
                    background-image: url('../img/s4-pct-1.jpg')
                    width: 100%
                    height: $s4-pct-height
                .s4-pct-2
                    background-image: url('../img/s4-pct-2.jpg')
                    width: 100%
                    height: $s4-pct-height
                .s4-pct-3
                    background-image: url('../img/s4-pct-3.jpg')
                    width: 100%
                    height: $s4-pct-height
                .s4-pct-4
                    background-image: url('../img/s4-pct-4.jpg')
                    width: 100%
                    height: $s4-pct-height
                .s4-pct-5
                    background-image: url('../img/s4-pct-5.jpg')
                    width: 100%
                    height: $s4-pct-height
                .s4-pct-6
                    background-image: url('../img/s4-pct-6.jpg')
                    width: 100%
                    height: $s4-pct-height
                .s4-pct-7
                    background-image: url('../img/s4-pct-7.jpg')
                    width: 100%
                    height: $s4-pct-height
                .s4-pct-8
                    background-image: url('../img/s4-pct-8.jpg')
                    width: 100%
                    height: $s4-pct-height






    //背景區
    .bcg-leftcut
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%)
        
            

    .bcg-rightcut
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%)

    .bcg-twocut
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%)

    .service-bcg
        background-image: url('../img/s2-wedding.jpg')
        width: 100%
        height: 100%

    .contact-bcg
        background-image: url('../img/s4-cover.jpg')
        width: 100%
        height: 100%


    //物件區
    

    .s4-icon-group
        .s4-icon
            width: 100px
            height: 100px
            border-radius: 50%

        .icon-1
            background-image: url('../img/FB.png')

        .icon-2
            background-image: url('../img/IG.png')

        .icon-3
            background-image: url('../img/map.png')

    .pct
        background-size: contain
        background-position: center
        background-repeat: no-repeat

    .bcg
        background-size: cover
        background-position: center
        background-repeat: no-repeat

    .pt-15vh
        padding-top: 15vh

    .pb-15vh
        padding-bottom: 15vh

    .text-color-2
        color: $text-color-2

    .mask
        background-color: $opacity-color
        width: 100%
        height: 100%